/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none; }

html {
  font-size: 62.5%;
  /* 1 rem = 10px */ }

body {
  font-size: 16px;
  background-color: #343838; }
  body header {
    text-align: center;
    background-color: #343838; }
    body header .containerHeader {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      padding: 20px 0; }
      body header .containerHeader .containerLogo {
        text-align: left; }
        body header .containerHeader .containerLogo .logo {
          width: 200px;
          height: 65px; }
      body header .containerHeader .lista_nav {
        text-align: center;
        text-decoration: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 0; }
        body header .containerHeader .lista_nav .lista {
          padding: 0;
          margin: 0; }
          body header .containerHeader .lista_nav .lista li {
            list-style: none;
            display: inline-block;
            margin: 0 10px; }
            body header .containerHeader .lista_nav .lista li .link {
              width: 150px !important;
              margin: 5px 5px; }
          body header .containerHeader .lista_nav .lista .btnNav {
            border-style: none;
            margin: 5px;
            background-color: #343838; }
            body header .containerHeader .lista_nav .lista .btnNav:hover {
              transform: translateY(-5px);
              box-shadow: 0 10px 20px rgba(27, 27, 27, 0.5); }
          body header .containerHeader .lista_nav .lista .imgNav {
            width: 30px;
            height: 30px;
            cursor: pointer;
            border-style: none;
            filter: invert(100%); }
    body header .containerImagen {
      position: relative;
      text-align: center; }
      body header .containerImagen img {
        width: 100%;
        height: 700px; }
      body header .containerImagen .tituloPrincipal {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        text-shadow: 5px 5px 10px black;
        margin: 0;
        animation: slidein 1s ease-in-out; }
  body main {
    text-align: center; }
  body footer {
    text-align: center;
    border-top: 3px solid #343838;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #343838;
    margin: 0; }
    body footer h4 {
      background-color: #343838;
      text-shadow: 2px 2px 2px black; }
    body footer .containerFooter .iconosFooter li {
      padding: 20px;
      display: inline-block;
      text-align: center;
      font-size: 20px; }
      body footer .containerFooter .iconosFooter li:hover {
        transform: translateY(-5px); }
      body footer .containerFooter .iconosFooter li a .imgFooter {
        height: 20px;
        width: 20px;
        background-color: #343838; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.link:link,
.link:visited,
.todaslascat:link,
.todaslascat:visited,
.btnEnviar:link,
.btnEnviar:visited,
.btnNav:link,
.btnNav:visited,
.btnAgregarAlCarrito:link,
.btnAgregarAlCarrito:visited,
.btn-secondary:link,
.btn-secondary:visited {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1.5px 10px black;
  color: white;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 1000px;
  display: inline-block;
  transition: all .2s;
  position: relative; }

.link:hover,
.todaslascat:hover,
.btnEnviar:hover,
.btnAgregarAlCarrito:hover,
.btn-secondary:hover,
.googleBtn:hover {
  color: black;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px black;
  background-color: white !important; }

.link:active,
.todaslascat:active,
.btnNav:active,
.btnAgregarAlCarrito:active,
.btn-secondary:active {
  transform: translateY(-3px); }

.link::after,
.todaslascat::after,
.btnNav::after,
.btnAgregarAlCarrito::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all .3s; }

.link:hover::after,
.todaslascat:hover::after,
.btnAgregarAlCarrito:hover::after,
.btn-secondary:hover::after {
  background-color: #f7f2e1 !important;
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0; }

.btnAgregarAlCarrito {
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1.5px 10px black;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 100px;
  display: inline-block;
  transition: all .2s;
  position: relative;
  background-color: #343838 !important;
  width: 220px !important;
  font-size: 15px !important;
  margin: 10px; }

h2 {
  color: white;
  margin-top: 30px;
  font-size: 26px;
  text-align: center;
  text-shadow: 1px 2px 10px black; }

h3 {
  font-size: 24px;
  text-align: center;
  color: white;
  margin: 10px; }

h4 {
  color: white;
  font-size: 22px;
  text-align: center;
  font-weight: lighter; }

a {
  text-decoration: none; }

p {
  text-align: center;
  margin: 0 auto;
  padding: 0 auto; }

label {
  text-align: center;
  font-weight: bold;
  margin: 10px;
  padding: 10px; }

input, textarea {
  width: 100%;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 16px;
  margin: 5px; }

.whatsappBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: fixed; }
  .whatsappBtn img {
    width: 80px;
    cursor: pointer; }

.btnEnviar {
  padding: 10px 20px;
  margin: 30px;
  cursor: pointer;
  border-radius: 100px;
  color: white;
  text-shadow: 1px 3px 10px black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  background-color: #343838;
  border: 1px solid white; }

@media (max-width: 1450px) {
  .containerTodosLosProductos {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    align-content: center;
    justify-items: center;
    column-gap: 10px;
    margin-bottom: 30px;
    padding: 5px;
    text-align: justify; } }

@media (max-width: 1270px) {
  .containerTodosLosProductos {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    align-content: center;
    justify-items: center;
    column-gap: 10px;
    margin-bottom: 30px;
    padding: 5px;
    text-align: justify; }
    .containerTodosLosProductos .carta {
      width: 450px; }
      .containerTodosLosProductos .carta .imgTLP {
        width: 400px;
        height: 400px; } }

@media (max-width: 1060px) {
  body header .containerHeader {
    flex-direction: column; }
    body header .containerHeader .containerLogo .logo {
      margin: 10px; }
    body header .containerHeader .lista_nav .lista li .link {
      width: 130px; }
  body header .imgCarrusel {
    height: 700px !important; }
  body main .containerTodasLasCat .todasLasCatParrafo {
    text-align: justify;
    padding: 10px !important;
    margin: 10px 10px !important; }
  body .containerNosotros {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important; }
    body .containerNosotros .imgNosotros {
      width: 40% !important; }
    body .containerNosotros .parrafoNosotros {
      margin: 10px;
      padding: 10px; } }

@media (max-width: 930px) {
  .containerImagen img {
    height: 600px !important; }
  .containerTodosLosProductos {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    align-content: center;
    justify-items: center;
    column-gap: 10px;
    margin-bottom: 30px;
    padding: 5px;
    text-align: justify; }
  .containerTodosLosProductos .carta img {
    width: 400px;
    height: 400px; }
  .containerTodosLosProductos .carta {
    width: 450px; } }

@media (max-width: 840px) {
  header div nav ul .link {
    width: 100px;
    margin: 5px; }
  ul.lista {
    flex-wrap: wrap;
    margin: 0;
    padding: 2px; }
  .imgCarrusel {
    height: 500px !important; }
  main .containerTodasLasCat .todasLasCatParrafo {
    text-align: justify;
    padding: 10px !important;
    margin: 10px 10px !important; }
  main .formularioContacto {
    width: 80% !important; }
  iframe {
    width: 400px; }
  main section div .tituloCarrusel {
    font-size: 10px !important; }
  main section div .parrafoCarrusel {
    font-size: 14px !important; } }

@media (max-width: 550px) {
  body header div nav ul li .link {
    width: 100px;
    margin: 10px; }
  .containerImagen img {
    height: 500px !important; }
  .containerImagen .tituloPrincipal {
    font-size: 30px !important; }
  .containerProducto {
    width: 100%;
    align-items: center; }
  .imgProducto {
    width: 100%; }
  .imgCarrusel {
    height: 300px !important; }
  .imgNuevoIngreso {
    width: 300px !important;
    height: 300px !important;
    margin: 10px;
    padding: 0; }
  ul.lista {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 2px; }
  main section div .imagenTLC {
    width: 280px;
    height: 280px; }
  main .containerTodasLasCat .containerProducto .imgProducto .imgNuevoIngreso {
    width: 270px !important;
    height: 270px !important; }
  main .containerTodasLasCat .todasLasCatParrafo {
    text-align: justify;
    padding: 10px !important;
    margin: 10px 10px !important; }
  .containerTodosLosProductos .carta .imgTLP {
    width: 280px !important;
    height: 280px !important; }
  .containerTodosLosProductos .carta {
    width: 320px !important; }
  main .formularioContacto {
    width: 80% !important; }
  iframe {
    width: 300px; }
  .products .product img {
    width: 300px !important;
    height: 300px !important; }
  input, textarea {
    padding: 10px; } }

main .containerTodasLasCat {
  padding-top: 20px;
  background-color: #343838; }
  main .containerTodasLasCat .todasLasCatParrafo {
    text-align: justify;
    padding: 0;
    margin: 30px 150px;
    color: white; }
  main .containerTodasLasCat .todaslascat {
    text-align: center;
    margin-top: 30px;
    padding: 10px 30px;
    background-color: #343838; }
  main .containerTodasLasCat .containerProducto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 30px 0;
    margin-bottom: 30px;
    padding: 30px 0;
    background-color: #ffffff; }
    main .containerTodasLasCat .containerProducto .imgProducto .imgNuevoIngreso {
      box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
      border-radius: 20px;
      padding: 5px;
      margin: 20px 30px;
      height: 450px;
      width: 450px;
      background-color: white;
      transition-property: transform;
      transition-duration: 0.5s; }
      main .containerTodasLasCat .containerProducto .imgProducto .imgNuevoIngreso:hover {
        border: 1px solid black;
        transform: scale(1.05); }
    main .containerTodasLasCat .containerProducto .imgProducto .parrafoIndex {
      padding: 10px;
      font-weight: bold;
      font-size: 20px; }
  main .containerTodasLasCat div .containerCarrusel {
    width: 80%;
    margin: 0 auto; }
    main .containerTodasLasCat div .containerCarrusel div .imgCarrusel {
      margin: 40px 0;
      padding: 10px;
      width: 600px;
      height: 800px; }

main .dropdownProductos {
  text-align: left;
  padding: 10px;
  margin: 10px 10px; }
  main .dropdownProductos .btnTLP {
    font-size: 20px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 100px;
    padding: 10px 30px;
    margin-top: 20px; }
  main .dropdownProductos ul .dropdown-item {
    font-size: 16px; }

main .parrafoProductos {
  color: white;
  margin: 20px;
  padding: 20px;
  text-align: justify; }

main .containerTodosLosProductos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  justify-items: center;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 30px;
  padding: 5px;
  text-align: justify; }
  main .containerTodosLosProductos .carta {
    display: grid;
    width: 400px;
    height: 550px;
    text-align: center;
    margin: 10px 0;
    padding: 0 auto;
    justify-items: center;
    align-items: center;
    background-color: #ffffff; }
    main .containerTodosLosProductos .carta .imgTLP {
      width: 380px;
      height: 380px;
      margin: 10px;
      padding: 10px;
      justify-items: center; }

main .containerNosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  justify-items: center; }
  main .containerNosotros .imgNosotros {
    margin: 10px 0;
    width: 70%;
    height: auto; }
  main .containerNosotros .parrafoNosotros {
    text-align: justify;
    color: white;
    padding: 20px; }

main iframe {
  margin: 50px 0; }

main .parrafoContacto {
  color: white;
  font-size: 16px;
  width: 80%;
  text-align: center; }

main .containerCarrito .products .product button {
  margin-bottom: 20px; }

main .containerCarrito .products .product .precio {
  color: white; }

main .containerCarrito .parrafoCarrito {
  margin: 30px;
  color: white; }

main .containerCarrito p {
  color: black;
  font-size: 20px; }

main .containerCarrito img {
  width: 400px;
  height: 400px; }

main .formularioContacto {
  display: inline-block;
  background-color: #ffffff;
  transition-property: transform;
  transition-duration: 1s;
  box-shadow: 1px 2px 40px rgba(0, 0, 0, 0.62);
  border-radius: 10px;
  margin: 30px;
  padding: 30px;
  width: 600px; }
  main .formularioContacto:hover {
    transform: scale(1.05);
    border: 1px solid black; }
  main .formularioContacto .registro {
    color: black; }
  main .formularioContacto form .googleBtn {
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid #000000;
    font-size: 18px;
    margin: 20px;
    text-decoration: none; }
    main .formularioContacto form .googleBtn .imgGoogle {
      width: 20px;
      height: 20px; }
    main .formularioContacto form .googleBtn a {
      text-decoration: none; }
