main div .products .product button {
    margin-bottom: 20px;
}
main .containerCarrito div .parrafoCarrito{
    margin: 30px;
    color: white;
}
.product .precio {
    color: white;
}
.products p {
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.products .product img {
    width: 400px;
    height: 400px;
}
