/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* RESET */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}
@mixin colorLetra($font-color) {
    color: $font-color;
}
$font-color-primario: white;
$font-color-secundario: black;

$color-fondo: #343838;

html {
    font-size: 62.5%; /* 1 rem = 10px */    
}
body {
    font-size: 16px;
    background-color: $color-fondo;
    header {
        text-align: center;
        background-color: $color-fondo;
            .containerHeader {
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            padding: 20px 0;   
                .containerLogo{
                    text-align: left;                
                    .logo {
                        width: 200px;
                        height: 65px;
                    }     
                }       
                .lista_nav {
                text-align: center;
                text-decoration: none;
                display: flex;
                justify-content: space-around;
                align-items: center;
                text-align: center;
                padding: 0;                    
                    .lista {
                    padding: 0;
                    margin: 0;                
                        li {
                            list-style: none;
                            display: inline-block;
                            margin: 0 10px;
                            .link{
                            width: 150px !important;
                            margin: 5px 5px;  
                            }
                        }   
                    .btnNav {
                    border-style: none;
                    margin: 5px;
                    background-color: $color-fondo;
                    &:hover{
                        transform: translateY(-5px);
                        box-shadow: 0 10px 20px rgba(27, 27, 27, 0.5);
                    }
                    }                  
                    .imgNav {
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        border-style: none;
                        filter: invert(100%);
                            }
                        }
                    }
                }
        .containerImagen{
            position: relative;
            text-align: center;
            img {
                width: 100%;
                height: 700px;
            }
            .tituloPrincipal {
                @include colorLetra($font-color-primario);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 40px;
                text-shadow: 5px 5px 10px $font-color-secundario;
                margin: 0;
                animation: slidein 1s ease-in-out; 
            }            
        }
    }
    main { 
        text-align: center;
    }
    footer {
        text-align: center;
        border-top: 3px solid #343838;
        color: $font-color-primario;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: $color-fondo;
        margin: 0;
        h4 {
            background-color: $color-fondo;
            text-shadow: 2px 2px 2px black;
        }
        .containerFooter {
            .iconosFooter {
                li {
                    &:hover {
                        transform: translateY(-5px);
                    }
                    padding: 20px;
                    display: inline-block;
                    text-align: center;
                    font-size: 20px; 
                    a {
                        .imgFooter {
                            height: 20px;
                            width: 20px;
                            background-color: $color-fondo;
                        }
                    }
                }
            }
        }
    }
}
@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
%boton{
    @include colorLetra($font-color-primario);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 1px 1.5px 10px $font-color-secundario;
    color: $font-color-primario;
    padding: 10px 30px;
    border: 1px solid $font-color-primario;
    border-radius: 1000px;
    display: inline-block;
    transition: all .2s;
    position: relative;
}
.link:link,
.link:visited,
.todaslascat:link,
.todaslascat:visited,
.btnEnviar:link,
.btnEnviar:visited,
.btnNav:link,
.btnNav:visited,
.btnAgregarAlCarrito:link,
.btnAgregarAlCarrito:visited,
.btn-secondary:link,
.btn-secondary:visited {
@extend %boton;
}
.link:hover,
.todaslascat:hover,
.btnEnviar:hover,
.btnAgregarAlCarrito:hover,
.btn-secondary:hover,
.googleBtn:hover {
@include colorLetra($font-color-secundario);
transform: translateY(-5px);
box-shadow: 0 10px 20px $font-color-secundario;
background-color: white !important;
}
.link:active,
.todaslascat:active,
.btnNav:active,
.btnAgregarAlCarrito:active,
.btn-secondary:active {
transform: translateY(-3px);
}
.link::after,
.todaslascat::after,
.btnNav::after,
.btnAgregarAlCarrito::after {
content: "";
display: inline-block;
height: 100%;
width: 100%;
border-radius: 100px;
top: 0;
left: 0;
position: absolute;
z-index: -1;
transition: all .3s;
}
.link:hover::after,
.todaslascat:hover::after,
.btnAgregarAlCarrito:hover::after,
.btn-secondary:hover::after {
background-color: #f7f2e1 !important;
transform: scaleX(1.4) scaleY(1.5);
opacity: 0;
}
.btnAgregarAlCarrito {
    @include colorLetra($font-color-primario);
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 1px 1.5px 10px $font-color-secundario;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 100px;
    display: inline-block;
    transition: all .2s;
    position: relative;
    background-color: $color-fondo!important;
    width: 220px !important;
    font-size: 15px !important;
    margin: 10px;
}
h2 {
    @include colorLetra($font-color-primario);
    margin-top: 30px;
    font-size: 26px;
    text-align: center;
    text-shadow: 1px 2px 10px black;    
}
h3 {
    font-size: 24px;
    text-align: center;
    color: $font-color-primario;
    margin: 10px;
}
h4 {
    @include colorLetra($font-color-primario);
    font-size: 22px;
    text-align: center;
    font-weight: lighter;
}
a {
    text-decoration: none;
}
p {    
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
}
label {
    text-align: center;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}
input, textarea{
    width: 100%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 16px;
    margin: 5px;
}
.whatsappBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: fixed;
    img {
        width: 80px;
        cursor: pointer;
    }
}
.btnEnviar {
    padding: 10px 20px;
    margin: 30px;
    cursor: pointer;
    border-radius: 100px;
    color: $font-color-primario;
    text-shadow: 1px 3px 10px black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;    
    background-color: $color-fondo;
    border: 1px solid white;
}

