@media (max-width: 1450px) {    
    .containerTodosLosProductos {
    display: grid;    
    grid-template-columns: repeat(3,1fr) !important;
    align-content: center;
    justify-items: center;
    column-gap: 10px;
    margin-bottom: 30px;
    padding: 5px;
    text-align: justify;
    }
}
@media (max-width: 1270px) {    
    .containerTodosLosProductos {
    display: grid;    
    grid-template-columns: repeat(2,1fr) !important;
    align-content: center;
    justify-items: center;
    column-gap: 10px;
    margin-bottom: 30px;
    padding: 5px;
    text-align: justify;
    .carta {
        width: 450px;
        .imgTLP{
        width: 400px;
        height: 400px;}
        }
    }
}
@media (max-width: 1060px) {
    body {
        header{
        .containerHeader {
            flex-direction: column;  
            .containerLogo {
                .logo {
                    margin: 10px;}
                }   
            .lista_nav {
                .lista {
                    li {
                        .link{
                            width: 130px;}
                    }
                }    
            }
        }    
        .imgCarrusel {
            height: 700px !important;
            }
        }
        main .containerTodasLasCat .todasLasCatParrafo {
            text-align: justify;
            padding: 10px !important;
            margin: 10px 10px !important;
            }
            .containerNosotros {
                display: grid;
                grid-template-columns: repeat(1,1fr) !important;
                .imgNosotros {
                    width: 40% !important;
                }
                .parrafoNosotros {
                    margin: 10px;
                    padding: 10px;
                }
            }
    }
}



@media (max-width: 930px) {
    .containerImagen {
        img {
            height: 600px !important;
        }
    }
    .containerTodosLosProductos {
        display: grid;    
        grid-template-columns: repeat(1,1fr) !important;
        align-content: center;
        justify-items: center;
        column-gap: 10px;
        margin-bottom: 30px;
        padding: 5px;
        text-align: justify;
        }
        .containerTodosLosProductos .carta img{
            width: 400px;
            height: 400px;
        }
        .containerTodosLosProductos .carta {
            width: 450px;
        }
}
@media (max-width:  840px) {
    header div nav ul .link{
        width: 100px;
        margin: 5px;
    }    
    ul.lista {
        flex-wrap: wrap;
        margin: 0;
        padding: 2px;
    }
    .imgCarrusel {
        height: 500px !important;
    }
    main .containerTodasLasCat .todasLasCatParrafo {
        text-align: justify;
        padding: 10px !important;
        margin: 10px 10px !important;
    }
    main .formularioContacto {
        width: 80% !important;
    }
    iframe {
        width: 400px;
    }
    main section div .tituloCarrusel {
        font-size: 10px !important;
    }
    main section div .parrafoCarrusel {
        font-size: 14px !important;
    }
}
@media (max-width:  550px) {
    body header div nav ul li .link{
        width: 100px;
        margin: 10px;
    }
    .containerImagen {
        img {
            height: 500px !important;
        }
        .tituloPrincipal {
            font-size: 30px !important;
        }
    }
    .containerProducto {
        width: 100%;
        align-items: center;
    }
    .imgProducto {
        width: 100%;
    }
    .imgCarrusel {
        height: 300px !important;
    }
    .imgNuevoIngreso {
        width: 300px !important;
        height: 300px !important;
        margin: 10px;
        padding: 0;
    }
    ul.lista {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 2px;
    }
    main section div .imagenTLC{
        width: 280px;
        height: 280px;
    }
    main .containerTodasLasCat .containerProducto .imgProducto .imgNuevoIngreso {
        width: 270px !important;
        height: 270px !important;
    }
    main .containerTodasLasCat .todasLasCatParrafo {
        text-align: justify;
        padding: 10px !important;
        margin: 10px 10px !important;
    }
    .containerTodosLosProductos .carta .imgTLP{
        width: 280px !important;
        height: 280px !important;
    }
    .containerTodosLosProductos .carta {
        width: 320px !important;
    }
    main .formularioContacto {
        width: 80% !important;
    }
    iframe {
        width: 300px;
    }
    .products .product img {
        width: 300px !important;
        height: 300px !important;
    }
    input,textarea{
        padding: 10px;
    }
}